body { 
  padding-top: 90px; 
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)), 
    url(./images/zombie.png);


  background-attachment:fixed;
  background-size:cover;
} 
img {
border-radius: 2%;
} 
.link {
color: #FFF;
}
